
#login, #loggedIn{
    display: none;
  }
  .btn {
    height: 60pt !important;
    border-radius: 32px !important;
    background-color: rgb(29, 185, 84) !important;
}
.btn:hover {
    background-color: rgb(51, 224, 112) !important;

}
#covertitle {

    font-size: 30px;
    background:seashell;
    padding: 25px 24px;
    color: black;
    position: relative;
    left: -66%;
    
}
#Youtube {

    font-size: 50px;
    background:#CC0000;
    padding: 4px 24px;
    color: seashell;
    width: 100;
    position: relative;
    left: 54%;
    top: -28.5%;
}
section {
    position: relative;
    left: 28%;
    bottom: 25%;
}
div:nth-child(1) {
    background-image: url(images/picshow.jpg);
    background-size: cover;   
    background-attachment: fixed;
    
}
.parallax {
    background-position: 0 0;

}
.div2 {
    background-color: goldenrod;
}
.div3 {
    background-image: url(images/DJ.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    
}
.div4 {
    background-color: goldenrod;
}
.istyle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100vh;
}
h1 {
    font-size: 50px;
    background: lightblue;
    padding: 8px 24px;
    border-radius: 16px;
}